html {
    font-size: 125%; // 16px * 1.25 = 20px
    @include mq-1000 {
        font-size: 120%; // 19.2px
    }
    @include mq-800 {
        font-size: 112%; // 17.92px
    }
    @include mq-600 {
        font-size: 110%; // 17.6px
    }
    @include mq-500 {
        font-size: 105%; // 16.8px
    }
}

.wrapper {
    max-width: 1300px;
    width: 85%;
    margin: 0 auto;
}

body,
input {
    font-family: 'Lato', sans-serif;
    color: $black;
    background-color: $white;
    line-height: 32px;
    letter-spacing: 2px;
    @include mq-800 {
        line-height: 28px;   
    }
    @include mq-600 {
        line-height: 25px;
        
    }
}

h1 {
    font-family: 'Kumar One Outline', cursive;
    @include font-size(64);
    text-transform: uppercase;
    line-height: 64px;
}

h2,
h3,
.logo,
.button,
button {
    font-family: 'Kumar One', cursive;
    text-transform: uppercase;
}

h2 {
    @include font-size(33);
    line-height: 58px;
    letter-spacing: 2.1px;
    @include mq-800 {
        line-height: 45px;
    }
    @include mq-600 {
        @include font-size(29);
        line-height: 40px;
    }
}

.logo {
    line-height: 24px;
    letter-spacing: 1.2px;
}

nav {
    font-weight: bold;
    text-align: center;
    line-height: 29px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
}

.button,
button {
    text-align: center;
    letter-spacing: 1px;
    background: $evergreen;
    color: $white;
    display: inline-block;
    padding: 11px 20px 5.5px;
    transition: opacity 0.3s;
    position: relative;
    &:hover,
    &:focus {
        opacity: 0.8;
    }
    &:focus {
        outline: 3px dotted $black; 
    }
    &:active {
        top: 2.2px;
    }
}

img {
    max-width: 100%;
    display: block;
}

h1,
h2,
h3,
h4,
h5,
p, 
ul,
li,
figure {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.line-break {
    display: block;
}

.skip-link {
    position: absolute;
    left: -1000px;
    top: 5px;
    z-index: 999;
    background: white;
    color: black;
    @include font-size(25);
    padding: 8px 18px 8px 25px;
}

.skip-link:focus {
    left: 37%;
    background: $black;
    color: $white;  
    outline: 3px dotted $black;
}