// VARIABLES

    $yellow: rgb(248, 251, 5);
    $evergreen: rgb(6, 86, 53);
    $white: rgb(245, 245, 245);
    $ice: rgb(224, 253, 223);
    $black: rgb(21, 21, 20);


// MIXINS
    @mixin font-size($size-value){
        font-size: $size-value * 1px;
        font-size: ($size-value/20) * 1rem;
    }

    @mixin flexCenter {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @mixin mq-1700 {
        @media (max-width: 1700px) {
            @content;
        }
    }

    @mixin mq-1600 {
        @media (max-width: 1600px) {
            @content;
        }
    }

    @mixin mq-1400 {
        @media (max-width: 1400px) {
            @content;
        }
    }

    @mixin mq-1200 {
        @media (max-width: 1200px) {
            @content;
        }
    }

    @mixin mq-1000 {
        @media (max-width: 1000px) {
            @content;
        }
    }

    @mixin mq-800 {
        @media (max-width: 800px) {
            @content;
        }
    }

    @mixin mq-600 {
        @media (max-width: 600px) {
            @content;
        }
    }