article {
    flex: 0 1 60%;
    position: relative;
    bottom: 150px;
    .article-image {
        position: relative;
        display: flex;
        img {
            width: 100%;
        }
    }
    // bottom yellow border
    .article-image::before {
        content:'';
        display: block;
        width: 95%;
        height: 20px;
        background: $yellow;
        position: absolute;
        top: 100%;
        right: 0;
    }
    // right yellow border
    .yellow-border::after {
        content: '';
        display: block;
        width: 20px;
        height: 94%;
        top: 6%;
        position: relative;
        background: $yellow;
    }
    
    .article-content {
        background: $white;
        padding: 45px 50px 20px 70px;
        border-right: 7px solid $yellow;
        border-bottom:7px solid $yellow;
        .article-wrapper {
            margin-left: auto;
            width: 95%;
        }
        p {
            padding: 18px 0;
        }
        p:first-of-type {
            padding: 8px 0;
            font-style: italic;
        }
        .bolded {
            font-weight: bold;
        }
    }
}
    








