.comment-section {
    position: relative;
    bottom: 70px;
    padding-bottom: 20px;
    .comment {
        display: flex;
        padding: 45px 0;
    }
    .comment:nth-of-type(2){
        padding: 60px 0 45px;
    }
    
    .comment-content {
        flex: 0 1 55%;
        padding-left: 40px;
        p:first-of-type {
            text-transform: uppercase;
            font-weight: bold;
            margin-bottom: 10px;
        }
    }
}

// basic form styling for both comment-form and contact-form

    form {
        display: flex;
        flex-direction: column;
        width: 65%;
        input {
            display: block;
            width: 100%;
            background: $ice;
            border: none;
            padding: 25px 40px;
            text-transform: uppercase;
            margin-bottom: 40px;
        }
        .form-top {
            display: flex;
            justify-content: space-between;
        }
       .form-top > input {
            width: 47.5%;
            border-bottom: 2.5px solid $evergreen;
        }
        .form-bottom > input {
            border: 2.5px solid $evergreen;
            padding-bottom: 150px;
        }
        button {
            padding: 18px 0 11px;
        }
    }

