main.blog {
    background: $ice;
    // blog-container holds the (1)blog and (2)aside 
    .blog-container {
        display: flex;
        justify-content: space-between;
        max-width: 1800px;
        margin: 0 auto;
        @include mq-1200 {
            flex-direction: column;
        }
    }
    

}