.search-style {
    padding: 170px 0;
    text-align: center;
    p {
        text-align: left;
        width: 80%;
        min-width: 700px;
        margin: 0 auto;
    }

    .button {
        margin-top: 25px;
    }
    @include mq-1000 {
        padding: 110px 0;
        p {
            width: 100%;
            min-width: auto;
        }
    }
    @include mq-800 {
        padding: 90px 0;
        h2 {
            margin: -40px 0 15px;
        }
        .button {
            margin-top: 50px;
            padding: 25px 40px 20px;
            margin-right: auto;
        }
    }
    @include mq-600 {
        h2 {
            text-align: left;
        }
        .button {
            float: left;
        }
    }
   
}
