header.index {
    background-image: url(./assets/header-home.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right top;
    height: 60vw;
    @include mq-1200 {
        background-size: cover;
        background-position: 35% top;
    }
    @include mq-1000 {
        background-position: 5% top;
    }
    @include mq-800 {
        background-image: none;
        height: auto;
        min-height: auto;
    }
    .show.menu {
	    display: block;
    }
    h1 {
        padding: 25px 0 40px 70px;
        @include mq-1700 {
            padding-left: 120px;
        }
        @include mq-1600 {
            padding-left: 150px;
        }
        @include mq-1200 {
            padding-left: 40px;
        }
        @include mq-1000 {
        

        }
        @include mq-1000 {
            @include font-size(22);
            line-height: 20px;
            padding: 11px 12px 8px 12px;
            text-align: left;
            margin-bottom: 0;
        }
        @include mq-500 {
            @include font-size(22);
            line-height: 19px;
            &::after {
                display: none;
            }
        }
    }
    .header-box {
        @include mq-1700 {
            width: 45%;
        }
        @include mq-1600 {
            width: 40%;   
        }
        @include mq-1200 {
            width: 50%;
        }
        @include mq-1000 {
            padding-top: 70px;
            width: 55%;
        }
        @include mq-800 {
            width: 100%;
            padding-top: 0;
        }
    }
    .wrapper {
        @include mq-1000 {
            width: 100%;
        }
    }
    .header-container {
        @include mq-1000 {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            background: linear-gradient(rgba(224, 253, 223,0.8) rgba(224, 253, 223, 0.8));
            margin-bottom: 0px;
            z-index: 100;
        }
    }
    .hamburger {
        padding: 20px 30px 0px 0px;
        text-shadow: 0 0 8px $white;
        @include font-size(42);
        @include mq-1000 {
            padding: 14px 30px 0px 25px;
            @include font-size(32);
            text-shadow: none;
        }
    }
}

