html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, footer, header, nav, section {
  display: block; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

figcaption, figure, main {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace,monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted; }

b, strong {
  font-weight: inherit; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

audio, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: .35em .75em .625em; }

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details, menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

html {
  font-size: 125%; }
  @media (max-width: 1000px) {
    html {
      font-size: 120%; } }
  @media (max-width: 800px) {
    html {
      font-size: 112%; } }
  @media (max-width: 600px) {
    html {
      font-size: 110%; } }
  @media (max-width: 500px) {
    html {
      font-size: 105%; } }

.wrapper {
  max-width: 1300px;
  width: 85%;
  margin: 0 auto; }

body,
input {
  font-family: 'Lato', sans-serif;
  color: #151514;
  background-color: whitesmoke;
  line-height: 32px;
  letter-spacing: 2px; }
  @media (max-width: 800px) {
    body,
    input {
      line-height: 28px; } }
  @media (max-width: 600px) {
    body,
    input {
      line-height: 25px; } }

h1 {
  font-family: 'Kumar One Outline', cursive;
  font-size: 64px;
  font-size: 3.2rem;
  text-transform: uppercase;
  line-height: 64px; }

h2,
h3,
.logo,
.button,
button {
  font-family: 'Kumar One', cursive;
  text-transform: uppercase; }

h2 {
  font-size: 33px;
  font-size: 1.65rem;
  line-height: 58px;
  letter-spacing: 2.1px; }
  @media (max-width: 800px) {
    h2 {
      line-height: 45px; } }
  @media (max-width: 600px) {
    h2 {
      font-size: 29px;
      font-size: 1.45rem;
      line-height: 40px; } }

.logo {
  line-height: 24px;
  letter-spacing: 1.2px; }

nav {
  font-weight: bold;
  text-align: center;
  line-height: 29px;
  letter-spacing: 1.4px;
  text-transform: uppercase; }

.button,
button {
  text-align: center;
  letter-spacing: 1px;
  background: #065635;
  color: whitesmoke;
  display: inline-block;
  padding: 11px 20px 5.5px; }

img {
  max-width: 100%;
  display: block; }

h1,
h2,
h3,
h4,
h5,
p,
ul,
li,
figure {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit; }

.line-break {
  display: block; }

header .hamburger,
header .exit-responsive {
  display: none; }

header .hamburger {
  padding: 30px 0 15px; }

header nav .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

header nav li {
  padding: 40px 0 40px 50px; }

@media (max-width: 1000px) {
  header.index .hamburger,
  header.index .exit-responsive,
  header.blog .hamburger,
  header.blog .exit-responsive,
  header.contact .hamburger,
  header.contact .exit-responsive {
    display: block;
    font-size: 35px;
    font-size: 1.75rem; }
  header.index .menu,
  header.blog .menu,
  header.contact .menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.99);
    color: white;
    z-index: 100; } }

body {
  position: relative; }

header.index {
  background-image: url(./assets/header-home.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right top; }
  header.index .show.menu {
    display: block; }
  header.index h1 {
    padding: 25px 0 40px 70px; }
  @media (max-width: 1700px) {
    header.index .header-box {
      width: 45%; }
    header.index h1 {
      padding-left: 120px; } }
  @media (max-width: 1600px) {
    header.index .header-box {
      width: 40%; }
    header.index h1 {
      padding-left: 150px; } }
  @media (max-width: 1200px) {
    header.index {
      height: 70vh;
      min-height: 600px;
      background-size: cover;
      background-position: 30% top; }
      header.index h1 {
        padding-left: 40px; }
      header.index .header-box {
        width: 50%; } }
  @media (max-width: 1000px) {
    header.index {
      background-position: 20% top; }
      header.index h1 {
        text-align: right;
        font-size: 55px;
        font-size: 2.75rem;
        padding-top: 0; }
      header.index .header-box {
        width: 60%; } }
  @media (max-width: 800px) {
    header.index {
      background-image: none;
      height: auto;
      min-height: auto; }
      header.index .wrapper {
        width: 100%; }
      header.index .header-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(224, 253, 223, 0.8)));
        background: -webkit-linear-gradient(rgba(224, 253, 223, 0.8) rgba(224, 253, 223, 0.8));
        background: -o-linear-gradient(rgba(224, 253, 223, 0.8) rgba(224, 253, 223, 0.8));
        background: linear-gradient(rgba(224, 253, 223, 0.8) rgba(224, 253, 223, 0.8));
        margin-bottom: 30px;
        z-index: 100; }
      header.index h1 {
        font-size: 24px;
        font-size: 1.2rem;
        line-height: 23px;
        padding: 12px 0 8px 12px;
        text-align: left; }
      header.index h1::after {
        content: 'Shop Now';
        position: absolute;
        right: 105px;
        top: 15px;
        background: #065635;
        color: whitesmoke;
        padding: 4px 20px 4px;
        font-family: 'Lato', sans-serif;
        font-size: 16px;
        font-size: 0.8rem;
        z-index: 30; }
      header.index .hamburger {
        padding: 15px 30px 0px 25px;
        font-size: 30px;
        font-size: 1.5rem; }
      header.index .header-box {
        width: 100%; } }
  @media (max-width: 500px) {
    header.index h1 {
      font-size: 22px;
      font-size: 1.1rem;
      line-height: 19px; }
    header.index h1::after {
      display: none; }
    header.index .hamburger {
      font-size: 25px;
      font-size: 1.25rem; } }

header.blog {
  background-image: url(./assets/blog-image.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  header.blog .show.menu {
    display: block; }
  header.blog .blog-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  header.blog .logo {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 30%;
    flex: 0 1 30%;
    padding-top: 30px; }
  header.blog nav {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 70%;
    flex: 0 1 70%; }
  header.blog h1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    padding: 130px 0 340px 0; }
  @media (max-width: 1200px) {
    header.blog {
      background-position: 10% center; }
      header.blog h1 {
        padding: 120px 0 300px 0; } }
  @media (max-width: 1000px) {
    header.blog {
      background-position: 37% center; }
      header.blog h1 {
        padding: 115px 0 200px 0; } }
  @media (max-width: 800px) {
    header.blog h1 {
      padding-bottom: 240px; } }

header.contact {
  background-image: url(./assets/contact-image.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  @media (max-width: 1200px) {
    header.contact {
      background-position: center center; } }
  @media (max-width: 1000px) {
    header.contact {
      background-position: 55% center; } }
  header.contact .show.menu {
    display: block; }
  header.contact .contact-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  header.contact .logo {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 30%;
    flex: 0 1 30%;
    padding-top: 30px; }
  header.contact nav {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 70%;
    flex: 0 1 70%; }
  header.contact h1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 80%;
    flex: 0 0 80%;
    padding: 130px 0 340px 0; }
    @media (max-width: 1000px) {
      header.contact h1 .line-break-touch {
        display: block; } }
    @media (max-width: 800px) {
      header.contact h1 {
        padding: 120px 0 200px 0; } }

.about {
  padding: 70px 0 120px 0; }
  .about .about-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .about .about-content {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 60%;
    flex: 0 0 60%; }
    .about .about-content h2 {
      margin-bottom: 15px; }
    .about .about-content .button {
      margin-top: 15px; }
  .about .about-image {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%; }
    .about .about-image img {
      -webkit-box-shadow: -20px 20px 0 #f8fb05;
      box-shadow: -20px 20px 0 #f8fb05; }
  @media (max-width: 1200px) {
    .about {
      padding-top: 140px; } }
  @media (max-width: 1000px) {
    .about {
      padding-top: 90px; }
      .about .about-content {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%; }
        .about .about-content .button {
          margin-top: 40px; }
      .about .about-image {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%; }
        .about .about-image img {
          margin-left: auto; } }
  @media (max-width: 800px) {
    .about {
      padding: 70px 0; }
      .about .about-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start; }
      .about .about-image {
        margin: 90px 0 30px;
        width: 60%; }
        .about .about-image img {
          width: 100%; }
      .about .about-content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start; }
        .about .about-content h2 {
          margin-bottom: 15px;
          text-align: left; }
        .about .about-content .button {
          padding: 25px 40px 20px; } }
  @media (max-width: 600px) {
    .about .about-image {
      width: 80%; } }
  @media (max-width: 500px) {
    .about .about-image {
      width: 100%; } }

.gallery {
  background: #e0fddf;
  padding: 95px 0; }
  .gallery .gallery-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .gallery .gallery-image {
    width: 31.8%; }
  @media (max-width: 1000px) {
    .gallery .gallery-image-3 {
      display: none; }
    .gallery .gallery-image {
      width: 49%; } }
  @media (max-width: 800px) {
    .gallery {
      padding: 60px 0; }
      .gallery .gallery-image-3 {
        display: block; }
      .gallery .gallery-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
      .gallery .gallery-image {
        width: 100%;
        position: relative; }
      .gallery .gallery-image:not(.gallery-image-3) {
        margin-bottom: 50px; }
      .gallery .gallery-image-2 img {
        margin-left: auto; }
      .gallery .yellow-line-1::before {
        content: '';
        display: block;
        width: 18px;
        height: 135%;
        background: #f8fb05;
        position: absolute;
        top: -32%;
        bottom: 0;
        right: 0; }
      .gallery .yellow-line-1::after {
        content: '';
        display: block;
        width: 80%;
        height: 18px;
        background: #f8fb05;
        position: absolute;
        bottom: -14px;
        right: 0; }
      .gallery .yellow-line-2::before {
        content: '';
        display: block;
        width: 18px;
        height: 28%;
        background: #f8fb05;
        position: absolute;
        bottom: 0;
        left: 0; }
      .gallery .yellow-line-2::after {
        content: '';
        display: block;
        width: 25%;
        height: 18px;
        background: #f8fb05;
        position: absolute;
        bottom: -14px;
        left: 0; }
      .gallery .yellow-line-3::before {
        content: '';
        display: block;
        width: 18px;
        height: 85%;
        background: #f8fb05;
        position: absolute;
        top: 40%;
        bottom: -28%;
        right: 0; } }

.stats {
  padding: 110px 0 80px; }
  .stats .stats-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .stats .stat-box {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    margin-bottom: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .stats .fas {
    font-size: 32px;
    font-size: 1.6rem;
    background: #f8fb05;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    padding: 30px;
    margin-right: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    bottom: 7px; }
  @media (max-width: 1000px) {
    .stats {
      padding: 80px 0 80px; }
      .stats .stat-box {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
        text-align: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 70px; }
      .stats p {
        text-align: left; }
      .stats .fas {
        font-size: 34px;
        font-size: 1.7rem;
        width: 50px;
        height: 50px;
        padding: 40px;
        margin: 0 0 20px 0; } }
  @media (max-width: 600px) {
    .stats {
      padding: 60px 0 60px; }
      .stats h2 {
        text-align: left; }
      .stats .fas {
        font-size: 30px;
        font-size: 1.5rem;
        width: 45px;
        height: 45px;
        padding: 35px;
        margin: 0 0 20px 0; }
      .stats .stat-box {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start; } }

.grid {
  background: #e0fddf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 1400px) {
    .grid {
      display: block; } }
  .grid .grid-container {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    @media (max-width: 1400px) {
      .grid .grid-container {
        position: relative; } }
  .grid .grid-left {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding-right: 140px; }
    @media (max-width: 1700px) {
      .grid .grid-left {
        padding-right: 100px; } }
    @media (max-width: 800px) {
      .grid .grid-left {
        padding-right: 0; } }
  .grid .grid-right {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-left: 140px; }
    @media (max-width: 1700px) {
      .grid .grid-right {
        padding-left: 100px; } }
    @media (max-width: 1000px) {
      .grid .grid-right {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse; } }
    @media (max-width: 800px) {
      .grid .grid-right {
        padding-left: 0; } }
  .grid .image {
    width: 100%;
    position: relative; }
  .grid img {
    width: 100%; }
  .grid .image-left {
    bottom: 35px; }
    .grid .image-left img {
      -webkit-box-shadow: 20px 20px 0 #f8fb05;
      box-shadow: 20px 20px 0 #f8fb05; }
  .grid .image-right {
    top: 35px; }
    .grid .image-right img {
      -webkit-box-shadow: -20px 20px 0 #f8fb05;
      box-shadow: -20px 20px 0 #f8fb05; }
  .grid .content {
    width: 500px;
    padding: 90px 0 60px; }
    @media (max-width: 1400px) {
      .grid .content {
        position: absolute;
        z-index: 10;
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(224, 253, 223, 0.7)), to(rgba(224, 253, 223, 0.7)));
        background: -webkit-linear-gradient(rgba(224, 253, 223, 0.7), rgba(224, 253, 223, 0.7));
        background: -o-linear-gradient(rgba(224, 253, 223, 0.7), rgba(224, 253, 223, 0.7));
        background: linear-gradient(rgba(224, 253, 223, 0.7), rgba(224, 253, 223, 0.7));
        width: 850px; } }
    @media (max-width: 1000px) {
      .grid .content {
        position: static;
        width: auto; } }
    @media (max-width: 800px) {
      .grid .content .button {
        padding: 20px 50px 16px;
        margin-top: 30px; } }
  .grid .content-left {
    text-align: right;
    padding-bottom: 85px; }
    @media (max-width: 1400px) {
      .grid .content-left {
        text-align: left;
        left: 0;
        bottom: 10%;
        padding: 10px 5px 10px 30px; } }
    @media (max-width: 1000px) {
      .grid .content-left {
        margin: 0 0 30px; } }
  .grid .content-right {
    text-align: left; }
    @media (max-width: 1400px) {
      .grid .content-right {
        text-align: right;
        right: 0;
        bottom: -5px;
        padding: 10px 30px 10px 5px; } }
    @media (max-width: 1000px) {
      .grid .content-right {
        margin-top: 70px; } }
  .grid .button {
    margin-top: 30px; }
    @media (max-width: 1400px) {
      .grid .button {
        margin-top: 10px; } }

.banner {
  background: #e0fddf; }
  .banner img {
    width: 100%; }
  @media (max-width: 1400px) {
    .banner {
      padding-top: 115px; } }
  @media (max-width: 1000px) {
    .banner {
      padding-top: 70px; } }
  @media (max-width: 800px) {
    .banner .banner-image {
      overflow: hidden; }
    .banner img {
      max-width: 150%;
      -o-object-fit: none;
      object-fit: none;
      width: 150%;
      height: 150%;
      -o-object-position: -140px 50%;
      object-position: -140px 50%; } }

.search-style {
  padding: 170px 0;
  text-align: center; }
  .search-style p {
    text-align: left;
    width: 80%;
    min-width: 700px;
    margin: 0 auto; }
  .search-style .button {
    margin-top: 25px; }
  @media (max-width: 1000px) {
    .search-style {
      padding: 110px 0; }
      .search-style p {
        width: 100%;
        min-width: auto; } }
  @media (max-width: 800px) {
    .search-style {
      padding: 90px 0; }
      .search-style h2 {
        margin: -40px 0 15px; }
      .search-style .button {
        margin-top: 50px;
        padding: 25px 40px 20px;
        margin-right: auto; } }
  @media (max-width: 600px) {
    .search-style h2 {
      text-align: left; }
    .search-style .button {
      float: left; } }

main.blog {
  background: #e0fddf; }
  main.blog .blog-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 1800px;
    margin: 0 auto; }
    @media (max-width: 1200px) {
      main.blog .blog-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }

article {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 60%;
  flex: 0 1 60%;
  position: relative;
  bottom: 150px; }
  @media (max-width: 1400px) {
    article {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 831.15px;
      flex: 0 0 831.15px; } }
  @media (max-width: 1200px) {
    article {
      width: 90%;
      margin: 0 auto; } }
  article .article-image {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    article .article-image img {
      width: 100%; }
  article .article-image::before {
    content: '';
    display: block;
    width: 95%;
    height: 20px;
    background: #f8fb05;
    position: absolute;
    top: 100%;
    right: 0; }
  article .yellow-border::after {
    content: '';
    display: block;
    width: 20px;
    height: 94%;
    top: 6%;
    position: relative;
    background: #f8fb05; }
  article .article-content {
    background: whitesmoke;
    padding: 45px 50px 20px 70px;
    border-right: 7px solid #f8fb05;
    border-bottom: 7px solid #f8fb05; }
    article .article-content .article-wrapper {
      margin-left: auto;
      width: 95%; }
    article .article-content p {
      padding: 18px 0; }
    article .article-content p:first-of-type {
      padding: 8px 0;
      font-style: italic; }
    article .article-content .bolded {
      font-weight: bold; }
    @media (max-width: 1000px) {
      article .article-content {
        padding: 45px 20px 15px 40px; } }
    @media (max-width: 800px) {
      article .article-content {
        padding-left: 20px; } }
    @media (max-width: 600px) {
      article .article-content {
        padding: 40px 10px 5px; } }

aside.blog-aside {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 350px;
  flex: 0 1 350px; }
  @media (max-width: 1400px) {
    aside.blog-aside {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 310px;
      flex: 0 1 310px; } }
  @media (max-width: 1200px) {
    aside.blog-aside {
      width: 90%;
      margin: 0 auto; } }
  @media (max-width: 750px) {
    aside.blog-aside {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end; } }
  aside.blog-aside .sidebar-image {
    margin-top: 120px;
    position: relative;
    z-index: 10; }
    @media (max-width: 1200px) {
      aside.blog-aside .sidebar-image {
        margin-top: -80px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        aside.blog-aside .sidebar-image .sidebar-content {
          padding: 19px 0 0 40px;
          -webkit-box-flex: 0;
          -ms-flex: 0 1 60%;
          flex: 0 1 60%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between; }
          aside.blog-aside .sidebar-image .sidebar-content .content {
            -webkit-box-flex: 0;
            -ms-flex: 0 1 250px;
            flex: 0 1 250px; }
        aside.blog-aside .sidebar-image .sidebar-image {
          -webkit-box-flex: 0;
          -ms-flex: 0 1 40%;
          flex: 0 1 40%; }
          aside.blog-aside .sidebar-image .sidebar-image img {
            max-width: 100%; } }
    @media (max-width: 1000px) {
      aside.blog-aside .sidebar-image .sidebar-content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly; }
        aside.blog-aside .sidebar-image .sidebar-content .content {
          -webkit-box-flex: 0;
          -ms-flex: 0 1 40%;
          flex: 0 1 40%; }
      aside.blog-aside .sidebar-image .content h3 {
        padding: 0; }
      aside.blog-aside .sidebar-image .content ul {
        padding-left: 20px; }
      aside.blog-aside .sidebar-image .image-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; } }
    @media (max-width: 750px) {
      aside.blog-aside .sidebar-image {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        max-width: 365px; }
        aside.blog-aside .sidebar-image .sidebar-content {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          padding: 30px 0 20px 10px; }
          aside.blog-aside .sidebar-image .sidebar-content .content {
            width: 335px;
            padding-bottom: 30px; } }
  aside.blog-aside .sidebar-image::before {
    content: '';
    display: block;
    width: calc(100% + 20px);
    background: #f8fb05;
    position: absolute;
    right: 0;
    left: -20px;
    top: 20px;
    bottom: 0;
    z-index: -10; }
    @media (max-width: 1200px) {
      aside.blog-aside .sidebar-image::before {
        top: 10px;
        bottom: 10px; } }
  aside.blog-aside h3 {
    padding: 25px 0 15px; }
  aside.blog-aside ul {
    list-style: disc;
    padding: 0 0 10px 30px; }

.comment-section {
  margin-top: -65px;
  padding-bottom: 110px; }
  .comment-section .comment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 45px 0; }
    @media (max-width: 800px) {
      .comment-section .comment {
        padding-bottom: 5px; } }
  .comment-section .comment:nth-of-type(2) {
    padding: 60px 0 45px; }
  .comment-section .comment-content {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 670px;
    flex: 0 1 670px;
    padding-left: 40px; }
    .comment-section .comment-content p:first-of-type {
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 10px; }
  @media (max-width: 1200px) {
    .comment-section {
      margin-top: 100px; } }

form {
  max-width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  form input {
    display: block;
    width: 100%;
    background: #e0fddf;
    border: none;
    padding: 25px 0 25px 40px;
    text-transform: uppercase;
    margin-bottom: 40px; }
  form .form-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  form .form-top > input {
    width: 47.5%;
    border-bottom: 2.5px solid #065635; }
  form .form-bottom > input {
    border: 2.5px solid #065635;
    padding-bottom: 150px; }
  form button {
    padding: 18px 0 11px; }

@media (max-width: 800px) {
  .comment-form {
    padding-top: 60px; } }

@media (max-width: 800px) {
  .comment-form input {
    padding: 16px 25px;
    margin-bottom: 20px; } }

@media (max-width: 800px) {
  .comment-form .form-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; } }

@media (max-width: 800px) {
  .comment-form .form-top > input {
    width: 100%; } }

main.contact {
  background: #e0fddf; }
  main.contact .contact-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    @media (max-width: 1200px) {
      main.contact .contact-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
  main.contact .contact-form {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 866px;
    flex: 0 1 866px;
    background: whitesmoke;
    position: relative;
    bottom: 100px;
    right: 50px;
    -webkit-box-shadow: 20px 20px 0 #f8fb05;
    box-shadow: 20px 20px 0 #f8fb05; }
    @media (max-width: 1200px) {
      main.contact .contact-form {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 350.75px;
        flex: 0 1 350.75px; } }
    @media (max-width: 800px) {
      main.contact .contact-form {
        right: 0;
        left: -10px; } }
    @media (max-width: 800px) {
      main.contact .contact-form {
        -webkit-box-shadow: 15px 15px 0 #f8fb05;
        box-shadow: 15px 15px 0 #f8fb05; } }
    main.contact .contact-form form {
      width: 100%;
      padding: 50px; }
      @media (max-width: 800px) {
        main.contact .contact-form form {
          padding: 20px 10px; }
          main.contact .contact-form form .form-top {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column; }
            main.contact .contact-form form .form-top input {
              padding: 10px 0 15px 20px; } }
    main.contact .contact-form input {
      background: whitesmoke; }
      @media (max-width: 800px) {
        main.contact .contact-form input {
          width: 100%;
          margin-bottom: 25px;
          padding-left: 15px; } }
  main.contact aside.info {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 275px;
    flex: 0 0 275px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    @media (max-width: 1200px) {
      main.contact aside.info {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 340px;
        flex: 0 0 340px;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start; } }
    @media (max-width: 800px) {
      main.contact aside.info {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 290px;
        flex: 0 0 290px; } }
    main.contact aside.info .info-content {
      margin: 0 auto; }
      @media (max-width: 1200px) {
        main.contact aside.info .info-content {
          margin: 0; } }
    main.contact aside.info .icons > i {
      color: #065635;
      padding-right: 17px;
      font-size: 25px;
      font-size: 1.25rem; }
    main.contact aside.info p:first-of-type {
      padding: 15px 0; }

footer {
  background: #151514;
  padding: 5px 0;
  color: whitesmoke;
  text-align: center; }
