html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, footer, header, nav, section {
  display: block; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

figcaption, figure, main {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace,monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted; }

b, strong {
  font-weight: inherit; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

audio, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: .35em .75em .625em; }

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details, menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

html {
  font-size: 125%; }
  @media (max-width: 1000px) {
    html {
      font-size: 120%; } }
  @media (max-width: 800px) {
    html {
      font-size: 112%; } }
  @media (max-width: 600px) {
    html {
      font-size: 110%; } }
  @media (max-width: 500px) {
    html {
      font-size: 105%; } }

.wrapper {
  max-width: 1300px;
  width: 85%;
  margin: 0 auto; }

body,
input {
  font-family: 'Lato', sans-serif;
  color: #151514;
  background-color: whitesmoke;
  line-height: 32px;
  letter-spacing: 2px; }
  @media (max-width: 800px) {
    body,
    input {
      line-height: 28px; } }
  @media (max-width: 600px) {
    body,
    input {
      line-height: 25px; } }

h1 {
  font-family: 'Kumar One Outline', cursive;
  font-size: 64px;
  font-size: 3.2rem;
  text-transform: uppercase;
  line-height: 64px; }

h2,
h3,
.logo,
.button,
button {
  font-family: 'Kumar One', cursive;
  text-transform: uppercase; }

h2 {
  font-size: 33px;
  font-size: 1.65rem;
  line-height: 58px;
  letter-spacing: 2.1px; }
  @media (max-width: 800px) {
    h2 {
      line-height: 45px; } }
  @media (max-width: 600px) {
    h2 {
      font-size: 29px;
      font-size: 1.45rem;
      line-height: 40px; } }

.logo {
  line-height: 24px;
  letter-spacing: 1.2px; }

nav {
  font-weight: bold;
  text-align: center;
  line-height: 29px;
  letter-spacing: 1.4px;
  text-transform: uppercase; }

.button,
button {
  text-align: center;
  letter-spacing: 1px;
  background: #065635;
  color: whitesmoke;
  display: inline-block;
  padding: 11px 20px 5.5px;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  position: relative; }
  .button:hover, .button:focus,
  button:hover,
  button:focus {
    opacity: 0.8; }
  .button:focus,
  button:focus {
    outline: 3px dotted #151514; }
  .button:active,
  button:active {
    top: 2.2px; }

img {
  max-width: 100%;
  display: block; }

h1,
h2,
h3,
h4,
h5,
p,
ul,
li,
figure {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit; }

.line-break {
  display: block; }

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
  font-size: 25px;
  font-size: 1.25rem;
  padding: 8px 18px 8px 25px; }

.skip-link:focus {
  left: 37%;
  background: #151514;
  color: whitesmoke;
  outline: 3px dotted #151514; }

header .hamburger,
header .exit-responsive {
  display: none; }
  @media (max-width: 1000px) {
    header .hamburger,
    header .exit-responsive {
      display: block;
      font-size: 35px;
      font-size: 1.75rem; } }

header .hamburger {
  padding: 30px 0 15px;
  -webkit-transition: color .5s, opacity 1s;
  -o-transition: color .5s, opacity 1s;
  transition: color .5s, opacity 1s; }
  header .hamburger:hover {
    color: #065635;
    opacity: 0.8; }

header .shop-now {
  font-size: 16px;
  font-size: 0.8rem;
  position: absolute;
  right: 150px;
  top: 11px;
  background: #065635;
  color: whitesmoke;
  padding: 2px 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  -webkit-transition: opacity .4s;
  -o-transition: opacity .4s;
  transition: opacity .4s;
  z-index: 30;
  display: none; }
  header .shop-now:hover {
    opacity: 0.8; }
  @media (max-width: 1000px) {
    header .shop-now {
      display: inline; } }
  @media (max-width: 800px) {
    header .shop-now {
      right: 110px;
      top: 15px; } }
  @media (max-width: 500px) {
    header .shop-now {
      display: none; } }

header .blog-container .shop-now,
header .contact-container .shop-now {
  top: 30px;
  right: 22%; }

nav .menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  @media (max-width: 1000px) {
    nav .menu-container {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.99);
      color: white;
      z-index: 100;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; }
      nav .menu-container li:not(:first-child) {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        font-size: 40px;
        font-size: 2rem;
        padding-bottom: 20px; }
      nav .menu-container li:first-child {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        padding-right: 40px; } }

nav li {
  margin: 40px 0 60px 50px;
  border-bottom: 4px solid transparent;
  -webkit-transition: border 0.4s;
  -o-transition: border 0.4s;
  transition: border 0.4s; }
  nav li:hover {
    border-color: #f8fb05; }
  nav li a {
    position: relative; }
    nav li a:hover, nav li afocus {
      color: #3c3c39; }
    nav li a:focus {
      outline: 2px dotted #065635; }
    nav li a:active {
      top: 1.5px; }

nav li:first-of-type {
  border-color: transparent; }

.play-button-container,
.audio {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 100; }

.audio {
  width: 350px; }
  @media (max-width: 600px) {
    .audio {
      width: 250px; } }

.play-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.75);
  border-radius: 10px; }
  .play-button-container .play-button {
    background: #ececec;
    border-radius: 50%;
    border: none;
    height: 60px;
    width: 60px;
    padding: 2px 0 0 5px; }
    .play-button-container .play-button i {
      color: #151514; }
  .play-button-container p {
    text-transform: uppercase;
    font-size: .8rem;
    padding-left: 10px; }

.play-button-container.disappear-on-play {
  display: none; }

header.index {
  background-image: url(./assets/header-home.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right top;
  height: 60vw; }
  @media (max-width: 1200px) {
    header.index {
      background-size: cover;
      background-position: 35% top; } }
  @media (max-width: 1000px) {
    header.index {
      background-position: 5% top; } }
  @media (max-width: 800px) {
    header.index {
      background-image: none;
      height: auto;
      min-height: auto; } }
  header.index .show.menu {
    display: block; }
  header.index h1 {
    padding: 25px 0 40px 70px; }
    @media (max-width: 1700px) {
      header.index h1 {
        padding-left: 120px; } }
    @media (max-width: 1600px) {
      header.index h1 {
        padding-left: 150px; } }
    @media (max-width: 1200px) {
      header.index h1 {
        padding-left: 40px; } }
    @media (max-width: 1000px) {
      header.index h1 {
        font-size: 22px;
        font-size: 1.1rem;
        line-height: 20px;
        padding: 11px 12px 8px 12px;
        text-align: left;
        margin-bottom: 0; } }
    @media (max-width: 500px) {
      header.index h1 {
        font-size: 22px;
        font-size: 1.1rem;
        line-height: 19px; }
        header.index h1::after {
          display: none; } }
  @media (max-width: 1700px) {
    header.index .header-box {
      width: 45%; } }
  @media (max-width: 1600px) {
    header.index .header-box {
      width: 40%; } }
  @media (max-width: 1200px) {
    header.index .header-box {
      width: 50%; } }
  @media (max-width: 1000px) {
    header.index .header-box {
      padding-top: 70px;
      width: 55%; } }
  @media (max-width: 800px) {
    header.index .header-box {
      width: 100%;
      padding-top: 0; } }
  @media (max-width: 1000px) {
    header.index .wrapper {
      width: 100%; } }
  @media (max-width: 1000px) {
    header.index .header-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(224, 253, 223, 0.8)));
      background: -webkit-linear-gradient(rgba(224, 253, 223, 0.8) rgba(224, 253, 223, 0.8));
      background: -o-linear-gradient(rgba(224, 253, 223, 0.8) rgba(224, 253, 223, 0.8));
      background: linear-gradient(rgba(224, 253, 223, 0.8) rgba(224, 253, 223, 0.8));
      margin-bottom: 0px;
      z-index: 100; } }
  header.index .hamburger {
    padding: 20px 30px 0px 0px;
    text-shadow: 0 0 8px whitesmoke;
    font-size: 42px;
    font-size: 2.1rem; }
    @media (max-width: 1000px) {
      header.index .hamburger {
        padding: 14px 30px 0px 25px;
        font-size: 32px;
        font-size: 1.6rem;
        text-shadow: none; } }

.about {
  padding: 0 0 120px 0; }
  @media (max-width: 1200px) {
    .about {
      padding-top: 140px; } }
  @media (max-width: 1000px) {
    .about {
      padding-top: 80px; } }
  @media (max-width: 800px) {
    .about {
      padding: 55px 0 90px; } }
  .about .about-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media (max-width: 800px) {
      .about .about-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start; } }
  .about .about-content {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 60%;
    flex: 0 0 60%; }
    @media (max-width: 1000px) {
      .about .about-content {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%; } }
    @media (max-width: 800px) {
      .about .about-content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start; } }
    .about .about-content h2 {
      margin-bottom: 15px; }
      @media (max-width: 800px) {
        .about .about-content h2 {
          margin-bottom: 15px;
          text-align: left; } }
    .about .about-content .button {
      margin-top: 15px; }
      @media (max-width: 1000px) {
        .about .about-content .button {
          margin-top: 40px; } }
      @media (max-width: 800px) {
        .about .about-content .button {
          padding: 25px 40px 20px; } }
  .about .about-image {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%; }
    @media (max-width: 1000px) {
      .about .about-image {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%; } }
    @media (max-width: 800px) {
      .about .about-image {
        margin: 75px 0 30px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 400px;
        flex: 0 0 400px; } }
    .about .about-image img {
      background-color: lavender;
      -webkit-box-shadow: -20px 20px 0 #f8fb05;
      box-shadow: -20px 20px 0 #f8fb05; }
      @media (max-width: 1000px) {
        .about .about-image img {
          margin-left: auto; } }
      @media (max-width: 800px) {
        .about .about-image img {
          width: 400px; } }

.gallery {
  background: #e0fddf;
  padding: 95px 0; }
  .gallery .gallery-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .gallery .gallery-image {
    width: 31.8%; }
    .gallery .gallery-image img {
      background-color: #065635; }
  @media (max-width: 1000px) {
    .gallery .gallery-image-3 {
      display: none; }
    .gallery .gallery-image {
      width: 49%; } }
  @media (max-width: 800px) {
    .gallery {
      padding: 60px 0; }
      .gallery .gallery-image-3 {
        display: block; }
      .gallery .gallery-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
      .gallery .gallery-image {
        width: 100%;
        position: relative; }
      .gallery .gallery-image:not(.gallery-image-3) {
        margin-bottom: 50px; }
      .gallery .gallery-image-2 img {
        margin-left: auto; }
      .gallery .yellow-line-1::before {
        content: '';
        display: block;
        width: 18px;
        height: 135%;
        background: #f8fb05;
        position: absolute;
        top: -32%;
        bottom: 0;
        right: 0; }
      .gallery .yellow-line-1::after {
        content: '';
        display: block;
        width: 80%;
        height: 18px;
        background: #f8fb05;
        position: absolute;
        bottom: -14px;
        right: 0; }
      .gallery .yellow-line-2::before {
        content: '';
        display: block;
        width: 18px;
        height: 28%;
        background: #f8fb05;
        position: absolute;
        bottom: 0;
        left: 0; }
      .gallery .yellow-line-2::after {
        content: '';
        display: block;
        width: 25%;
        height: 18px;
        background: #f8fb05;
        position: absolute;
        bottom: -14px;
        left: 0; }
      .gallery .yellow-line-3::before {
        content: '';
        display: block;
        width: 18px;
        height: 85%;
        background: #f8fb05;
        position: absolute;
        top: 40%;
        bottom: -28%;
        right: 0; } }

.stats {
  padding: 110px 0 80px; }
  @media (max-width: 1000px) {
    .stats {
      padding: 80px 0 80px; } }
  @media (max-width: 600px) {
    .stats {
      padding: 60px 0 60px; } }
  .stats .stats-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .stats .stat-box {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    margin-bottom: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 1000px) {
      .stats .stat-box {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
        text-align: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 70px; } }
    @media (max-width: 600px) {
      .stats .stat-box {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start; } }
  .stats .fas {
    font-size: 32px;
    font-size: 1.6rem;
    background: #f8fb05;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    padding: 30px;
    margin-right: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    bottom: 7px; }
    @media (max-width: 1000px) {
      .stats .fas {
        font-size: 34px;
        font-size: 1.7rem;
        width: 50px;
        height: 50px;
        padding: 40px;
        margin: 0 0 20px 0; } }
    @media (max-width: 600px) {
      .stats .fas {
        font-size: 30px;
        font-size: 1.5rem;
        width: 45px;
        height: 45px;
        padding: 35px;
        margin: 0 0 20px 0; } }
  @media (max-width: 1000px) {
    .stats p {
      text-align: left; } }
  @media (max-width: 600px) {
    .stats h2 {
      text-align: left; } }

.grid {
  background: #e0fddf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 1400px) {
    .grid {
      display: block; } }
  .grid .grid-container {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    @media (max-width: 1400px) {
      .grid .grid-container {
        position: relative; } }
  .grid .grid-left {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding-right: 140px; }
    @media (max-width: 1700px) {
      .grid .grid-left {
        padding-right: 100px; } }
    @media (max-width: 800px) {
      .grid .grid-left {
        padding-right: 0; } }
  .grid .grid-right {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-left: 140px; }
    @media (max-width: 1700px) {
      .grid .grid-right {
        padding-left: 100px; } }
    @media (max-width: 1000px) {
      .grid .grid-right {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse; } }
    @media (max-width: 800px) {
      .grid .grid-right {
        padding-left: 0; } }
  .grid .image {
    width: 100%;
    position: relative; }
  .grid img {
    width: 100%; }
  .grid .image-left {
    bottom: 35px; }
    .grid .image-left img {
      -webkit-box-shadow: 20px 20px 0 #f8fb05;
      box-shadow: 20px 20px 0 #f8fb05; }
  .grid .image-right {
    top: 35px; }
    .grid .image-right img {
      -webkit-box-shadow: -20px 20px 0 #f8fb05;
      box-shadow: -20px 20px 0 #f8fb05; }
  .grid .content {
    width: 500px;
    padding: 90px 0 60px; }
    @media (max-width: 1400px) {
      .grid .content {
        position: absolute;
        z-index: 10;
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(224, 253, 223, 0.7)), to(rgba(224, 253, 223, 0.7)));
        background: -webkit-linear-gradient(rgba(224, 253, 223, 0.7), rgba(224, 253, 223, 0.7));
        background: -o-linear-gradient(rgba(224, 253, 223, 0.7), rgba(224, 253, 223, 0.7));
        background: linear-gradient(rgba(224, 253, 223, 0.7), rgba(224, 253, 223, 0.7));
        width: 850px; } }
    @media (max-width: 1000px) {
      .grid .content {
        position: static;
        width: auto; } }
    @media (max-width: 800px) {
      .grid .content .button {
        padding: 20px 50px 16px;
        margin-top: 30px; } }
  .grid .content-left {
    text-align: right;
    padding-bottom: 85px; }
    @media (max-width: 1400px) {
      .grid .content-left {
        text-align: left;
        left: 0;
        bottom: 10%;
        padding: 10px 5px 10px 30px; } }
    @media (max-width: 1000px) {
      .grid .content-left {
        margin: 0 0 30px; } }
  .grid .content-right {
    text-align: left; }
    @media (max-width: 1400px) {
      .grid .content-right {
        text-align: right;
        right: 0;
        bottom: -5px;
        padding: 10px 30px 10px 5px; } }
    @media (max-width: 1000px) {
      .grid .content-right {
        margin-top: 70px; } }
  .grid .button {
    margin-top: 30px; }
    @media (max-width: 1400px) {
      .grid .button {
        margin-top: 10px; } }

.banner {
  background: #e0fddf; }
  .banner img {
    width: 100%; }
  @media (max-width: 1400px) {
    .banner {
      padding-top: 115px; } }
  @media (max-width: 1000px) {
    .banner {
      padding-top: 70px; } }
  @media (max-width: 800px) {
    .banner .banner-image {
      overflow: hidden; }
    .banner img {
      max-width: 150%;
      -o-object-fit: none;
      object-fit: none;
      width: 150%;
      height: 150%;
      -o-object-position: -140px 50%;
      object-position: -140px 50%; } }

.search-style {
  padding: 170px 0;
  text-align: center; }
  @media (max-width: 1000px) {
    .search-style {
      padding: 110px 0; } }
  @media (max-width: 800px) {
    .search-style {
      padding: 90px 0; } }
  .search-style p {
    text-align: left;
    width: 80%;
    min-width: 700px;
    margin: 0 auto; }
    @media (max-width: 1000px) {
      .search-style p {
        width: 100%;
        min-width: auto; } }
  .search-style .button {
    margin-top: 25px; }
    @media (max-width: 800px) {
      .search-style .button {
        margin-top: 50px;
        padding: 25px 40px 20px;
        margin-right: auto; } }
    @media (max-width: 600px) {
      .search-style .button {
        float: left; } }
  @media (max-width: 800px) {
    .search-style h2 {
      margin: -40px 0 15px; } }
  @media (max-width: 600px) {
    .search-style h2 {
      text-align: left; } }

header.blog {
  background-image: url(./assets/blog-image.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  @media (max-width: 1200px) {
    header.blog {
      background-position: 10% center; } }
  @media (max-width: 1000px) {
    header.blog {
      background-position: 37% center; } }
  header.blog .show.menu {
    display: block; }
  header.blog .blog-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  header.blog .logo {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 30%;
    flex: 0 1 30%;
    padding-top: 30px; }
  header.blog nav {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 70%;
    flex: 0 1 70%; }
  header.blog h1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    padding: 130px 0 340px 0; }
    @media (max-width: 1200px) {
      header.blog h1 {
        padding: 120px 0 300px 0; } }
    @media (max-width: 1000px) {
      header.blog h1 {
        padding: 115px 0 200px 0; } }
    @media (max-width: 800px) {
      header.blog h1 {
        padding-bottom: 240px; } }

main.blog {
  background: #e0fddf; }
  main.blog .blog-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 1800px;
    margin: 0 auto; }
    @media (max-width: 1200px) {
      main.blog .blog-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }

article {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 60%;
  flex: 0 1 60%;
  position: relative;
  bottom: 150px; }
  @media (max-width: 1400px) {
    article {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 831.15px;
      flex: 0 0 831.15px; } }
  @media (max-width: 1200px) {
    article {
      width: 90%;
      margin: 0 auto; } }
  article .article-image {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    article .article-image img {
      width: 100%; }
  article .article-image::before {
    content: '';
    display: block;
    width: 95%;
    height: 20px;
    background: #f8fb05;
    position: absolute;
    top: 100%;
    right: 0; }
  article .yellow-border::after {
    content: '';
    display: block;
    width: 20px;
    height: 94%;
    top: 6%;
    position: relative;
    background: #f8fb05; }
  article .article-content {
    background: whitesmoke;
    padding: 45px 50px 20px 70px;
    border-right: 7px solid #f8fb05;
    border-bottom: 7px solid #f8fb05; }
    @media (max-width: 1000px) {
      article .article-content {
        padding: 45px 20px 15px 40px; } }
    @media (max-width: 800px) {
      article .article-content {
        padding-left: 20px; } }
    @media (max-width: 600px) {
      article .article-content {
        padding: 40px 10px 5px; } }
    article .article-content .article-wrapper {
      margin-left: auto;
      width: 95%; }
    article .article-content p {
      padding: 18px 0; }
    article .article-content p:first-of-type {
      padding: 8px 0;
      font-style: italic; }
    article .article-content .bolded {
      font-weight: bold; }

aside.blog-aside {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 350px;
  flex: 0 1 350px; }
  @media (max-width: 1400px) {
    aside.blog-aside {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 310px;
      flex: 0 1 310px; } }
  @media (max-width: 1200px) {
    aside.blog-aside {
      width: 90%;
      margin: 0 auto; } }
  @media (max-width: 750px) {
    aside.blog-aside {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end; } }
  aside.blog-aside .sidebar-image {
    margin-top: 120px;
    position: relative;
    z-index: 10; }
    @media (max-width: 1200px) {
      aside.blog-aside .sidebar-image {
        margin-top: -80px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        aside.blog-aside .sidebar-image .sidebar-content {
          padding: 19px 0 0 40px;
          -webkit-box-flex: 0;
          -ms-flex: 0 1 60%;
          flex: 0 1 60%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between; }
          aside.blog-aside .sidebar-image .sidebar-content .content {
            -webkit-box-flex: 0;
            -ms-flex: 0 1 250px;
            flex: 0 1 250px; } }
    @media (max-width: 1000px) {
      aside.blog-aside .sidebar-image .sidebar-content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly; }
        aside.blog-aside .sidebar-image .sidebar-content .content {
          -webkit-box-flex: 0;
          -ms-flex: 0 1 40%;
          flex: 0 1 40%; }
      aside.blog-aside .sidebar-image .content h3 {
        padding: 0; }
      aside.blog-aside .sidebar-image .content ul {
        padding-left: 20px; }
      aside.blog-aside .sidebar-image .image-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; } }
    @media (max-width: 750px) {
      aside.blog-aside .sidebar-image {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        max-width: 365px; }
        aside.blog-aside .sidebar-image .sidebar-content {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          padding: 30px 0 20px 10px; }
          aside.blog-aside .sidebar-image .sidebar-content .content {
            width: 335px;
            padding-bottom: 30px; } }
  aside.blog-aside .sidebar-image::before {
    content: '';
    display: block;
    width: calc(100% + 20px);
    background: #f8fb05;
    position: absolute;
    right: 0;
    left: -20px;
    top: 20px;
    bottom: -20px;
    z-index: -10; }
    @media (max-width: 1200px) {
      aside.blog-aside .sidebar-image::before {
        top: 10px;
        bottom: 10px; } }
  aside.blog-aside h3 {
    padding: 25px 0 15px; }
  aside.blog-aside ul {
    list-style: disc;
    padding: 0 0 10px 30px; }

.comment-section {
  margin-top: -65px;
  padding-bottom: 110px; }
  @media (max-width: 1200px) {
    .comment-section {
      margin-top: 100px; } }
  .comment-section .comment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 45px 0; }
    @media (max-width: 800px) {
      .comment-section .comment {
        padding-bottom: 5px; } }
  .comment-section .comment:nth-of-type(2) {
    padding: 60px 0 45px; }
  .comment-section .comment-image {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 92px;
    flex: 0 0 92px; }
  .comment-section .comment-content {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 670px;
    flex: 0 1 670px;
    padding-left: 40px; }
    @media (max-width: 600px) {
      .comment-section .comment-content {
        padding-left: 25px; } }
    .comment-section .comment-content p:first-of-type {
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 10px; }

form {
  max-width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  form input {
    display: block;
    width: 100%;
    background: #e0fddf;
    border: none;
    padding: 25px 0 25px 40px;
    text-transform: uppercase;
    margin-bottom: 40px; }
    form input:focus {
      border: 1px solid #151514;
      background: whitesmoke; }
  form .form-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  form .form-top > input {
    width: 47.5%;
    border-bottom: 2.5px solid #065635; }
  form .form-bottom > input {
    border: 2.5px solid #065635;
    padding-bottom: 150px; }
  form button {
    padding: 18px 0 11px; }

@media (max-width: 800px) {
  .comment-form {
    padding-top: 60px; } }

@media (max-width: 800px) {
  .comment-form input {
    padding: 16px 25px;
    margin-bottom: 20px; } }

@media (max-width: 800px) {
  .comment-form .form-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; } }

@media (max-width: 800px) {
  .comment-form .form-top > input {
    width: 100%; } }

header.contact {
  background-image: url(./assets/contact-image.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  @media (max-width: 1200px) {
    header.contact {
      background-position: center center; } }
  @media (max-width: 1000px) {
    header.contact {
      background-position: 55% center; } }
  header.contact .show.menu {
    display: block; }
  header.contact .contact-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  header.contact .logo {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 30%;
    flex: 0 1 30%;
    padding-top: 30px; }
  header.contact nav {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 70%;
    flex: 0 1 70%; }
  header.contact h1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 80%;
    flex: 0 0 80%;
    padding: 130px 0 340px 0; }
    @media (max-width: 1000px) {
      header.contact h1 .line-break-touch {
        display: block; } }
    @media (max-width: 800px) {
      header.contact h1 {
        padding: 120px 0 200px 0; } }

main.contact {
  background: #e0fddf; }
  main.contact .contact-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    @media (max-width: 1200px) {
      main.contact .contact-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
  main.contact .contact-form {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 866px;
    flex: 0 1 866px;
    background: whitesmoke;
    position: relative;
    bottom: 100px;
    right: 50px;
    -webkit-box-shadow: 20px 20px 0 #f8fb05;
    box-shadow: 20px 20px 0 #f8fb05; }
    @media (max-width: 1200px) {
      main.contact .contact-form {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 370px;
        flex: 0 1 370px;
        right: 0; } }
    @media (max-width: 600px) {
      main.contact .contact-form {
        -webkit-box-shadow: 15px 15px 0 #f8fb05;
        box-shadow: 15px 15px 0 #f8fb05; } }
    @media (max-width: 500px) {
      main.contact .contact-form {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        max-width: 118%; } }
    main.contact .contact-form form {
      width: 100%;
      padding: 50px; }
      @media (max-width: 800px) {
        main.contact .contact-form form {
          padding: 20px 20px; }
          main.contact .contact-form form .form-top {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column; }
            main.contact .contact-form form .form-top input {
              padding: 10px 0 15px 20px; } }
    main.contact .contact-form input {
      background: whitesmoke; }
      main.contact .contact-form input:focus {
        background: rgba(187, 187, 187, 0.1); }
      @media (max-width: 800px) {
        main.contact .contact-form input {
          width: 100%;
          margin-bottom: 25px;
          padding-left: 15px; } }
  main.contact aside.info {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 275px;
    flex: 0 0 275px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    @media (max-width: 1200px) {
      main.contact aside.info {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 340px;
        flex: 0 0 340px;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        text-align: right; } }
    @media (max-width: 800px) {
      main.contact aside.info {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 290px;
        flex: 0 0 290px;
        padding-bottom: 20px; } }
    main.contact aside.info .info-content {
      margin: 0 auto; }
      @media (max-width: 1200px) {
        main.contact aside.info .info-content {
          margin: 0; } }
    main.contact aside.info .icons > a {
      color: #065635;
      padding-right: 17px;
      font-size: 25px;
      font-size: 1.25rem;
      -webkit-transition: opacity 0.6s;
      -o-transition: opacity 0.6s;
      transition: opacity 0.6s; }
      main.contact aside.info .icons > a:hover {
        opacity: 0.4; }
    main.contact aside.info p:first-of-type {
      padding: 15px 0; }

footer {
  background: #151514;
  padding: 5px 0;
  color: whitesmoke;
  text-align: center; }
