html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, footer, header, nav, section {
  display: block; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

figcaption, figure, main {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace,monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted; }

b, strong {
  font-weight: inherit; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

audio, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: .35em .75em .625em; }

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details, menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

html {
  font-size: 125%; }

.wrapper {
  max-width: 1300px;
  width: 85%;
  margin: 0 auto; }
  @media (max-width: 800px) {
    .wrapper {
      width: 90%; } }
  @media (max-width: 600px) {
    .wrapper {
      width: 95%; } }

body,
input {
  font-family: 'Lato', sans-serif;
  color: #151514;
  background-color: whitesmoke;
  line-height: 32px;
  letter-spacing: 2px; }

h1 {
  font-family: 'Kumar One Outline', cursive;
  font-size: 64px;
  font-size: 3.2rem;
  text-transform: uppercase;
  line-height: 64px; }

h2,
h3,
.logo,
.button,
button {
  font-family: 'Kumar One', cursive;
  text-transform: uppercase; }

h2 {
  font-size: 33px;
  font-size: 1.65rem;
  line-height: 58px;
  letter-spacing: 2.1px; }

.logo {
  line-height: 24px;
  letter-spacing: 1.2px; }

nav {
  font-weight: bold;
  text-align: center;
  line-height: 29px;
  letter-spacing: 1.4px;
  text-transform: uppercase; }

.button,
button {
  text-align: center;
  letter-spacing: 1px;
  background: #065635;
  color: whitesmoke;
  display: inline-block;
  padding: 11px 20px 5.5px; }

img {
  max-width: 100%;
  display: block; }

h1,
h2,
h3,
h4,
h5,
p,
ul,
li,
figure {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit; }

.line-break {
  display: block; }

header.index {
  background-image: url(./assets/header-home.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right top; }
  header.index h1 {
    padding: 25px 0 40px 70px; }
  header.index .hamburger,
  header.index .exit-responsive {
    display: none; }
  header.index .hamburger {
    padding: 30px 0 15px; }
  header.index .show.menu {
    display: block; }
  @media (max-width: 1700px) {
    header.index .header-box {
      width: 45%; }
    header.index h1 {
      padding-left: 120px; } }
  @media (max-width: 1600px) {
    header.index .header-box {
      width: 40%; }
    header.index h1 {
      padding-left: 150px; } }
  @media (max-width: 1200px) {
    header.index {
      height: 70vh;
      min-height: 600px;
      background-size: cover;
      background-position: 30% top; }
      header.index h1 {
        padding-left: 40px; }
      header.index .header-box {
        width: 50%; } }
  @media (max-width: 1000px) {
    header.index {
      min-height: 600px;
      background-position: 20% top; }
      header.index .hamburger,
      header.index .exit-responsive {
        display: block;
        font-size: 35px;
        font-size: 1.75rem; }
      header.index h1 {
        text-align: right;
        padding-top: 15px; }
      header.index .menu {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.99);
        color: white; }
      header.index .header-box {
        width: 60%; } }
  @media (max-width: 800px) {
    header.index {
      min-height: 800px;
      background-position: 0 top; }
      header.index .header-box {
        width: 100%; }
      header.index h1 {
        font-size: 55px;
        font-size: 2.75rem;
        padding-left: 0; } }
  @media (max-width: 600px) {
    header.index {
      min-height: 600px; }
      header.index h1 {
        font-size: 40px;
        font-size: 2rem;
        line-height: 55px;
        padding: 20px 0 5px 10px;
        margin: 20px 0 40px;
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(245, 245, 245, 0.5)));
        background: -webkit-linear-gradient(rgba(245, 245, 245, 0.5) rgba(245, 245, 245, 0.5));
        background: -o-linear-gradient(rgba(245, 245, 245, 0.5) rgba(245, 245, 245, 0.5));
        background: linear-gradient(rgba(245, 245, 245, 0.5) rgba(245, 245, 245, 0.5));
        float: right; }
      header.index .hamburger {
        padding: 15px 0 5px;
        text-align: right; } }

nav .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

nav li {
  padding: 40px 0 40px 50px; }

header.blog {
  background-image: url(./assets/blog-image.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  header.blog .blog-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  header.blog .logo {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 30%;
    flex: 0 1 30%;
    padding-top: 30px; }
  header.blog nav {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 70%;
    flex: 0 1 70%; }
  header.blog h1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    padding: 130px 0 340px 0; }

header.contact {
  background-image: url(./assets/contact-image.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  header.contact .contact-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  header.contact .logo {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 30%;
    flex: 0 1 30%;
    padding-top: 30px; }
  header.contact nav {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 70%;
    flex: 0 1 70%; }
  header.contact h1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 80%;
    flex: 0 0 80%;
    padding: 130px 0 340px 0; }

.about {
  padding: 70px 0 120px 0; }
  .about .about-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .about .about-content {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 60%;
    flex: 0 0 60%; }
    .about .about-content h2 {
      margin-bottom: 15px; }
    .about .about-content .button {
      margin-top: 15px; }
  .about .about-image {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%; }
    .about .about-image img {
      -webkit-box-shadow: -20px 20px 0 #f8fb05;
      box-shadow: -20px 20px 0 #f8fb05; }
  @media (max-width: 1200px) {
    .about {
      padding-top: 150px; } }
  @media (max-width: 1000px) {
    .about .about-content {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%; }
      .about .about-content .button {
        margin-top: 40px; }
    .about .about-image {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%; }
      .about .about-image img {
        margin-left: auto; } }
  @media (max-width: 800px) {
    .about {
      padding: 50px 0 90px 0; }
      .about .about-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start; }
      .about .about-image {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        margin: 80px auto 70px; }
      .about .about-content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .about .about-content h2 {
          text-align: center;
          margin-bottom: 20px; } }
  @media (max-width: 600px) {
    .about .about-image {
      margin-top: 50px; }
    .about p {
      text-align: center; } }

.gallery {
  background: #e0fddf;
  padding: 95px 0; }
  .gallery .gallery-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .gallery .gallery-image {
    width: 31.8%; }
  @media (max-width: 1000px) {
    .gallery .gallery-image-3 {
      display: none; }
    .gallery .gallery-image {
      width: 49%; } }
  @media (max-width: 800px) {
    .gallery {
      padding: 60px 0; }
      .gallery .gallery-image-3 {
        display: block; }
      .gallery .gallery-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
      .gallery .gallery-image {
        width: 100%;
        position: relative; }
      .gallery .gallery-image:not(.gallery-image-3) {
        margin-bottom: 50px; }
      .gallery .gallery-image-2 img {
        margin-left: auto; }
      .gallery .yellow-line-1::before {
        content: '';
        display: block;
        width: 18px;
        height: 135%;
        background: #f8fb05;
        position: absolute;
        top: -32%;
        bottom: 0;
        right: 0; }
      .gallery .yellow-line-1::after {
        content: '';
        display: block;
        width: 80%;
        height: 18px;
        background: #f8fb05;
        position: absolute;
        bottom: -14px;
        right: 0; }
      .gallery .yellow-line-2::before {
        content: '';
        display: block;
        width: 18px;
        height: 28%;
        background: #f8fb05;
        position: absolute;
        bottom: 0;
        left: 0; }
      .gallery .yellow-line-2::after {
        content: '';
        display: block;
        width: 25%;
        height: 18px;
        background: #f8fb05;
        position: absolute;
        bottom: -14px;
        left: 0; }
      .gallery .yellow-line-3::before {
        content: '';
        display: block;
        width: 18px;
        height: 85%;
        background: #f8fb05;
        position: absolute;
        top: 40%;
        bottom: -28%;
        right: 0; } }

.stats {
  padding: 110px 0 80px; }
  .stats .stats-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .stats .stat-box {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    margin-bottom: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .stats .fas {
    font-size: 32px;
    font-size: 1.6rem;
    background: #f8fb05;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    padding: 30px;
    margin-right: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    bottom: 7px; }
  @media (max-width: 1000px) {
    .stats {
      padding: 80px 0 80px; }
      .stats .stat-box {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
        text-align: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 70px; }
      .stats p {
        text-align: left; }
      .stats .fas {
        font-size: 34px;
        font-size: 1.7rem;
        width: 50px;
        height: 50px;
        padding: 40px;
        margin: 0 0 20px 0; } }
  @media (max-width: 600px) {
    .stats p {
      text-align: center; }
    .stats .fas {
      font-size: 30px;
      font-size: 1.5rem;
      width: 45px;
      height: 45px;
      padding: 35px;
      margin: 0 0 20px 0; } }

.grid {
  background: #e0fddf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 1400px) {
    .grid {
      display: block; } }
  .grid .grid-container {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    @media (max-width: 1400px) {
      .grid .grid-container {
        position: relative; } }
  .grid .grid-left {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding-right: 140px; }
    @media (max-width: 1700px) {
      .grid .grid-left {
        padding-right: 100px; } }
    @media (max-width: 800px) {
      .grid .grid-left {
        padding-right: 0; } }
  .grid .grid-right {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-left: 140px; }
    @media (max-width: 1700px) {
      .grid .grid-right {
        padding-left: 100px; } }
    @media (max-width: 1000px) {
      .grid .grid-right {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse; } }
    @media (max-width: 800px) {
      .grid .grid-right {
        padding-left: 0; } }
  .grid .image {
    width: 100%;
    position: relative; }
  .grid img {
    width: 100%; }
  .grid .image-left {
    bottom: 35px; }
    .grid .image-left img {
      -webkit-box-shadow: 20px 20px 0 #f8fb05;
      box-shadow: 20px 20px 0 #f8fb05; }
  .grid .image-right {
    top: 35px; }
    .grid .image-right img {
      -webkit-box-shadow: -20px 20px 0 #f8fb05;
      box-shadow: -20px 20px 0 #f8fb05; }
  .grid .content {
    width: 500px;
    padding: 90px 0 60px; }
    @media (max-width: 1400px) {
      .grid .content {
        position: absolute;
        z-index: 10;
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(224, 253, 223, 0.7)), to(rgba(224, 253, 223, 0.7)));
        background: -webkit-linear-gradient(rgba(224, 253, 223, 0.7), rgba(224, 253, 223, 0.7));
        background: -o-linear-gradient(rgba(224, 253, 223, 0.7), rgba(224, 253, 223, 0.7));
        background: linear-gradient(rgba(224, 253, 223, 0.7), rgba(224, 253, 223, 0.7));
        width: 850px; } }
    @media (max-width: 1000px) {
      .grid .content {
        position: static;
        width: auto; } }
  .grid .content-left {
    text-align: right;
    padding-bottom: 85px; }
    @media (max-width: 1400px) {
      .grid .content-left {
        text-align: left;
        left: 0;
        bottom: 10%;
        padding: 10px 5px 10px 30px; } }
    @media (max-width: 1000px) {
      .grid .content-left {
        margin: 0 0 30px; } }
  .grid .content-right {
    text-align: left; }
    @media (max-width: 1400px) {
      .grid .content-right {
        text-align: right;
        right: 0;
        bottom: -5px;
        padding: 10px 30px 10px 5px; } }
    @media (max-width: 1000px) {
      .grid .content-right {
        margin-top: 70px; } }
  .grid .button {
    margin-top: 30px; }
    @media (max-width: 1400px) {
      .grid .button {
        margin-top: 10px; } }

.banner {
  background: #e0fddf; }
  .banner img {
    width: 100%; }
  @media (max-width: 1400px) {
    .banner {
      padding-top: 115px; } }
  @media (max-width: 1000px) {
    .banner {
      padding-top: 70px; } }
  @media (max-width: 800px) {
    .banner .banner-image {
      overflow: hidden; }
    .banner img {
      max-width: 150%;
      -o-object-fit: none;
      object-fit: none;
      width: 150%;
      height: 150%;
      -o-object-position: -140px 50%;
      object-position: -140px 50%; } }

.search-style {
  padding: 170px 0;
  text-align: center; }
  .search-style p {
    text-align: left;
    width: 80%;
    min-width: 700px;
    margin: 0 auto; }
  .search-style .button {
    margin-top: 25px; }
  @media (max-width: 1000px) {
    .search-style {
      padding: 110px 0; }
      .search-style p {
        width: 100%;
        min-width: auto; } }
  @media (max-width: 800px) {
    .search-style {
      padding: 90px 0; }
      .search-style p {
        text-align: center; } }

main.blog {
  background: #e0fddf; }
  main.blog .blog-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 1800px;
    margin: 0 auto; }

article {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 60%;
  flex: 0 1 60%;
  position: relative;
  bottom: 150px; }
  article .article-image {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    article .article-image img {
      width: 100%; }
  article .article-image::before {
    content: '';
    display: block;
    width: 95%;
    height: 20px;
    background: #f8fb05;
    position: absolute;
    top: 100%;
    right: 0; }
  article .yellow-border::after {
    content: '';
    display: block;
    width: 20px;
    height: 94%;
    top: 6%;
    position: relative;
    background: #f8fb05; }
  article .article-content {
    background: whitesmoke;
    padding: 45px 50px 20px 70px;
    border-right: 7px solid #f8fb05;
    border-bottom: 7px solid #f8fb05; }
    article .article-content .article-wrapper {
      margin-left: auto;
      width: 95%; }
    article .article-content p {
      padding: 18px 0; }
    article .article-content p:first-of-type {
      padding: 8px 0;
      font-style: italic; }
    article .article-content .bolded {
      font-weight: bold; }

aside {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 20%;
  flex: 0 1 20%; }
  aside .sidebar-image {
    margin-top: 120px;
    position: relative;
    z-index: 10; }
  aside .sidebar-image::before {
    content: '';
    display: block;
    width: calc(100% + 20px);
    background: #f8fb05;
    position: absolute;
    right: 0;
    left: -20px;
    top: 20px;
    bottom: 0;
    z-index: -10; }
  aside h3 {
    padding: 25px 0 15px; }
  aside ul {
    list-style: disc;
    padding: 0 0 10px 30px; }

.comment-section {
  position: relative;
  bottom: 70px;
  padding-bottom: 20px; }
  .comment-section .comment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 45px 0; }
  .comment-section .comment:nth-of-type(2) {
    padding: 60px 0 45px; }
  .comment-section .comment-content {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 55%;
    flex: 0 1 55%;
    padding-left: 40px; }
    .comment-section .comment-content p:first-of-type {
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 10px; }

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 65%; }
  form input {
    display: block;
    width: 100%;
    background: #e0fddf;
    border: none;
    padding: 25px 40px;
    text-transform: uppercase;
    margin-bottom: 40px; }
  form .form-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  form .form-top > input {
    width: 47.5%;
    border-bottom: 2.5px solid #065635; }
  form .form-bottom > input {
    border: 2.5px solid #065635;
    padding-bottom: 150px; }
  form button {
    padding: 18px 0 11px; }

main.contact {
  background: #e0fddf; }
  main.contact .contact-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  main.contact .contact-form {
    -webkit-box-flex: 2;
    -ms-flex: 2 1 66%;
    flex: 2 1 66%;
    background: whitesmoke;
    position: relative;
    bottom: 110px;
    right: 50px; }
    main.contact .contact-form form {
      width: 100%;
      padding: 50px;
      -webkit-box-shadow: 20px 20px 0 #f8fb05;
      box-shadow: 20px 20px 0 #f8fb05; }
    main.contact .contact-form input {
      background: whitesmoke; }
  main.contact .info {
    -webkit-box-flex: 1;
    -ms-flex: 1 100 33%;
    flex: 1 100 33%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    main.contact .info .info-content {
      margin: 0 auto; }
    main.contact .info .icons > i {
      color: #065635;
      padding-right: 17px;
      font-size: 25px;
      font-size: 1.25rem; }
    main.contact .info p:first-of-type {
      padding: 15px 0; }

footer {
  background: #151514;
  padding: 5px 0;
  color: whitesmoke;
  text-align: center; }
